body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main {
    margin-right: 50px;
}

article p {
    margin-left: 30px;
}

footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}